.login {
    background-color: #ececec;
    color: #444444;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 40vw;
    height: 60vh;
    margin: 7vh auto;

    border-radius: 20px;

}

.login-header_title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
    margin: 0;
}

.login-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    gap: 1.2rem;
}

.login-form div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
}

.login-form label {
    text-align: left;
}

.login-form input {
    width: 25rem;
    height: 2rem;

    color: #444;

    border-radius: 10px;
    border: 1px solid #444;
    background-color: #ececec;
}

.login-button {
    width: 25rem;
    height: 2rem;

    color: #444;
    border-radius: 10px;
    border: 1px solid #444;
    background-color: #87B2BB;
}